In [1]:
import pandas as pd
pew_metadata_path = '../dataset/pew_dataset/metadata.csv'

# Load the metadata from the Pew dataset
pew_data = pd.read_csv(pew_metadata_path)
# Drop all columns except 'title' and topic'
pew_data = pew_data[['title', 'topic']]

In [3]:
# Get the distinct list of sectors
distinct_sectors = pew_data['topic'].dropna().unique().tolist()

In [4]:
distinct_sectors

['Hispanic Trends',
 'Journalism & Media',
 'Internet & Technology',
 'Social & Demographic Trends',
 'Global Attributes & Trends',
 'Methods',
 'U.S. Politics & Policy',
 'Coronavirus Disease (COVID-19)',
 'Science & Society',
 'Economy & Work',
 'Uncategorised',
 'Religion & Public Life']

In [1]:
import pandas as pd
sta_metadata_path = '../dataset/statista_dataset/metadata.csv'

# Load the metadata from the Pew dataset
sta_data = pd.read_csv(sta_metadata_path)
# Drop all columns except 'title' and topic'
sta_data = sta_data[['title', 'Region']]
sta_data

,title,Region
0,\r\n Number of monthly ...,Worldwide
1,\r\n United States: est...,United States
2,\r\n Reported violent c...,United States
3,\r\n Players with the m...,United States
4,\r\n Players with most ...,Europe
...,...,...
27863,\r\n Distribution of cy...,"Worldwide, North America"
27864,\r\n Total number of dw...,United Kingdom (Great Britain)
27865,\r\n Results in the Eur...,"United Kingdom, EU"
27866,\r\n Average annual exp...,United States
27867,\r\n Number of Volkswag...,United Kingdom (Great Britain)